/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 de mar de 2021, 21:25:02
    Author     : Moises
*/

.cards-dashboard {
    border: 3px solid #cbd3da;
    background-color: #ffffff;
    color:#224D62;
    
}

.cards-dashboard:hover {
    border: 3px solid #FFD70F;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px #FFD70F;
    color:#224D62;
}
.icone-dashboard{
    font-size: 60px;
}
.icone-grafico, .titulo-grafico{
    font-size: 16px;
    color:#224D62;

}
.grafico{
    border: 3px solid #cbd3da;
}

.imagem-principal {
    opacity: 0.5;
}